<!-- your html code here -->

<div class="container">
    <div class="row">
        <div class="col-3">
            <img src="https://browser-f6492877-206d-4f0f-9362-adba73fdcf53.ws-us03.gitpod.io/workspace/exercise-collaborative-html-website/website1/assets/img/2.jpg"
                alt="https://cdn.computerhoy.com/sites/navi.axelspringer.es/public/styles/480/public/media/image/2019/08/fondo-pantalla-animado-windows_0.jpg?itok=Q0ozaABR"
                class="img-thumbnail rounded-circle">
        </div>
        <div class="col">
            <H2>THE SECOND HEADING <span class="text-white-50">PRETTY COOL TOO.</span></H2>
            <P>Donec ullamcorper nulla non metus auctor fringilla. vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consecte  </P>



        </div>



    </div>
</div>