<!-- your html code here -->
<p>Hello, I'm the services.html</p>
<p>Hello, I'm the services section and I was loaded using ajax from templates/services.html</p>
<div class="container">
    <div class="row">
        <div class="col">
            <img src="..."
                alt="https://cdn.computerhoy.com/sites/navi.axelspringer.es/public/styles/480/public/media/image/2019/08/fondo-pantalla-animado-windows_0.jpg?itok=Q0ozaABR"
                class="img-thumbnail" class="rounded-circle">
        </div>
        <div class="col">
            <H3>THE SECOND HEADING IS PRETTY COOL TOO.</H3>
            <P>Donec ullamcorper nulla non metus auctor fringilla. vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consecte  </P>



        </div>



    </div>
</div>